<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayana Promotion Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header class="logo-bar">
            <img src="/static/AYANA Resort Bali.png" alt="Ayana Logo" class="logo-img">
            <img src="/static/mul.png" alt="mul1" class="x-img">
            <img src="/static/KB.jpg" alt="KB Logo" class="logo-img">
            <img src="/static/mul.png" alt="mul2" class="x-img">
            <img src="/static/Visa.png" alt="Visa Logo" class="logo-img">
        </header>

        <section class="header-row">
            <div class="header-left">
                <h2><a href="https://www.ayana.com/ko/bali/" target="_blank">지금 예약하기</a></h2>
            </div>
            <div class="header-right">
                <h3>프로모션 코드</h3>
                <p>KB 프로모션 코드 입력 필드를 확인하세요.</p>
            </div>  
        </section>

        <section class="instructions">
            <h2>예약 방법</h2>
            <ol>
                <b>1단계:</b> AYANA 웹사이트 <a href="https://www.ayana.com/ko/bali/" target="_blank">https://www.ayana.com/ko/bali/</a>로 이동<br>
                <b>2단계:</b> "예약" 버튼 클릭하여 체크인 및 체크아웃 날짜 선택<br>
                <b>3단계:</b> 지정된 필드에 예약코드(KB 프로모션코드) 입력<br>
                <b>4단계:</b> 객실 카테고리 선택<br>
                <b>5단계:</b> '요금선택' 하단에서 33% 할인이 적용된 옵션 선택<br>
                <b>6단계:</b> 정보 입력하고 예약 완료<br>
                <b>7단계:</b> 결제 섹션에 KB Visa 카드정보 입력하고 카드보증 완료<br>
            </ol>
        </section>
        

        <section class="terms-section">
            <h2>Terms & Conditions</h2>
            <p><strong>[공통 유의사항]</strong><br>
              - 이 행사 혜택은 Visa카드에서 제공합니다.<br>
              - 각 제휴사 프로모션 혜택에 대한 제공조건 및 유의사항은 상세 페이지에서 확인 가능합니다.<br>
              - 본 프로모션을 통한 혜택은 외화 결제 시에만 적용됩니다.<br>
              - 현지에서 결제 전 KB국민 Visa카드 이용에 대해 말씀해주시기 바랍니다.<br>
              - 각 제휴사 프로모션은 예산 소진 시 별도의 공지 없이 혜택 제공이 종료될 수 있으며, KB국민 Visa 카드 또는 제휴사의 사정으로 변경 또는 중단될 수 있습니다.<br>
              - 예약 취소에 따른 환불 관련 규정은 상품옵션에 따라 다를 수 있으므로, 예약 시 환불 정책을 반드시 참고하십시오. 자세한 프로모션 내용 및 유의사항은 각 프로모션 페이지 내 상세 사항을 꼭 참고 바랍니다.<br>
              - 취소 수수료는 제휴사 정책에 의해 결제한 카드로 청구되어 추가 요금은 전액 고객 부담입니다.<br>
              - 프로모션 예약/이용 기간 내 예약 취소 건은 혜택 제공 대상에서 제외됩니다.<br>
              - 본 프로모션을 통해 제공되는 혜택은 현금으로 교환될 수 없습니다.<br>
            </p>
          
            <p><strong>[금융소비자 보호법 관련 유의사항]</strong><br>
              - 계약을 체결하기 전에 상품설명서와 약관을 확인하시기 바랍니다.<br>
              - 상환능력에 비해 신용카드 사용액이 과도할 경우 귀하의 개인신용평점이 하락할 수 있습니다.<br>
              - 개인신용평점 하락 시 금융거래 관련된 불이익이 발생할 수 있습니다.<br>
              - 일정기간 원리금을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.<br>
              - 신용카드 발급이 부적정한 경우 (개인신용평점 낮음, 연체금 보유 등) 카드발급이 제한될 수 있습니다.<br>
              - 카드 이용대금과 이에 수반되는 모든 수수료를 지정된 대금 결제일에 상환합니다.<br>
              - 금융소비자는 금소법 제19조 제1항에 따라 해당 상품 또는 서비스에 대하여 설명을 받을 권리가 있으며, 그 설명을 듣고 내용을 충분히 이해한 후 거래하시기 바랍니다.<br>
              <br>
              *이 행사는 KB국민카드 영업정책과 제휴업체 사정 혹은 영업정책에 따라 변경 또는 중단될 수 있습니다.<br>
              *문의: KB국민카드 고객센터(1588-1688)<br>
              준법감시인 심의필 000000-00000-HPM (0000.00.00)<br>
            </p>
          
            <p><strong>[호텔 유의사항]</strong><br>
              - 본 프로모션은 KB국민 Visa 카드를 소지한 고객이 해당 이벤트 페이지 내 예약 링크를 통해 각 호텔별 혜택 제공 조건을 충족하는 방식으로 결제한 경우에 한해 적용됩니다.<br>
              - 호텔 예약, 결제방법 및 이용약관은 호텔별로 상이하므로 각 호텔 프로모션 페이지를 반드시 확인하시기 바랍니다. (현지결제로 진행하는 호텔의 경우, 호텔에서 KB국민 Visa 카드로 직접 결제해야 할인이 적용될 수 있으니 사전에 확인하시기 바랍니다.)<br>
              - 결제 후 사후 할인 적용이 불가하오니 현지에서 결제 전 KB국민 Visa카드 이용에 대해 말씀해주시기 바랍니다.<br>
              - 현지결제로 진행하는 호텔의 경우, 온라인 결제 시 프로모션 코드를 사용하셨더라도, 호텔 직원에게 실물 카드를 제시하셔야 혜택을 받으실 수 있습니다.<br>
              - 현지에서 보증금 결제 시 체크카드 결제계좌의 잔고가 부족한 경우 결제가 되지 않을 수 있으며, 즉출형 체크카드의 경우 일부 해외 가맹점에서 사용제한이 있을 수 있으니 체크카드회원 약관 내 해외이용 안내를 반드시 확인 바랍니다.<br>
              - 호텔 예약 결제와 투숙 기간 모두 한국 표준시(KST) 기준 프로모션 기간 내 반드시 완료되어야 합니다.<br>
              - 운영 시간 및 이용 방법과 취소 규정은 호텔 규정에 따르며, 모든 조건은 호텔로 문의 바랍니다.<br>
              - 호텔 자체 프로모션 등 기타 할인 및 쿠폰과 중복 적용되지 않습니다.<br>
            </p>
          </section>
    </div>
</body>
</html>